
body{
    background-image: url("../immagini/mare.jpg");

}

h4{
    color: red;
    font-family: Arial;
}

h4 span{
    color: darkblue;
}


#testo{
    font-family: Arial;
    color: blue;
    font-size: 25px;
    background-color: lightblue;
}

table tr th{
    color: darkred;
}

.col-8 .table-bordered tr{
    border:solid yellow 3px ;
    background-color: lightblue;
}


.table-bordered{
    border: 2px solid black;
}

h4{
    color: red;
}

#logtxt{
    font-size: 20px;
    font-family: Arial;
    color: blue;
    text-decoration: underline;
}

h4 span{
    color: darkblue;
    background-color: aquamarine;
}

.form-group span{
    color: red;

}

.col-8 h3{
    color: darkblue;
    text-decoration: underline;
    background-color: aquamarine;
}

.col-4 h3{
    color: darkblue;
    text-decoration: underline;
    background-color: aquamarine;
}


.form-group label {
    color: darkblue;
}

.avviso{
    color: red;
    font-family: Arial;
    font-size: 20px;

}