h4{
    color: red;
    font-family: Arial;
}

h4 span{
    color: green;
}


 #testo{
    font-family: Arial;
    color: violet;
}

table tr th{
    color: blue;
}

.col-8 .table-bordered tr{
    border:solid black 3px ;
}