body{
    background-image: url("../immagini/mare.jpg");
        height: 300px;
        width: 400px;
}

.table-bordered{
    border: 2px solid black;
}

h4{
    color: red;
}

#logtxt{
    font-size: 20px;
    font-family: Arial;
    color: blue;
    text-decoration: underline;
}

h4 span{
    color: green;
}

