body{
    background-color: green;

}

header{
    background-color: blue;
}
h1{
    
    text-align: center;
    font-size: 35px;
    background-color: yellow;
    border-radius: 60%;
    color: red;
    text-shadow: 2px 2px 10px #000020;


}


.info h2{
    color:yellow;
    text-decoration: underline;
    font-size: 30px;
    font-family: Arial;
}

.info {
    font-family: Arial;
}

table{
    width: 100%;
    margin: 0px;
    padding: 0px;
    border:1px solid black;
}

.dati th:nth-child(1) {
    width: 50%;
    background-color: yellow;
}

th{
    background-color: yellow;
}

.dati td:nth-child(1){
    background-color: lightgreen;
}
.dati td:nth-child(2){
    background-color: lightgreen;
}
.dati td:nth-child(3){
    background-color: lightgreen;
}

.info img{
    max-width: 300px;
}

.info p img{
    float: left;
    max-width: 300px;
}

.info p{
    overflow: auto;
    font-family: Arial-black;
    color: darkgreen;
    font-size: 20px;
    text-align: center;
}
#info2 {
    float: right;
     max-width: 300px;
}


/* gallery style*/
.divgallery {
    background-color: lightgreen;
    overflow: auto;
    padding:  50px;
    
}


.itemgallery{
    float: left;
    width: 33.33%;
    padding: 0px;
    border: 0px;
    margin: auto;

}

.itemgallery img {
    width: 90%;
    max-width: 400px;
    border: 0px;
}

.info p{
    background-color: lightgreen;
}



@media screen and (max-width:480px){
    .itemgallery {
        float: none;
        width: 100%;
        padding: 0px;
        border: 0px;
    }
}


form{
    background-color: lightblue;
}

.item_footer h3{
    font-size: 30px;
    color: yellow;
    text-decoration: underline;
}
.item_footer p{
    background-color: lightblue;
    text-align: center;
    
    
}
.item_footer p img{
    max-width: 300px;
    
    display: inline;
}

@media screen and (max-width:480px){
    .item_footer {
        float: none;
        width: 100%;
        padding: 0px;
        border: 0px;
    }
}

.fondo img{
    max-width: 300px;
}


.fondo div{
    font-size: 30px;
    color: yellow;
}
.fondo #saluto{
    font-size: 40px;
    float: left;
    
}
.fondo #saluto3{
    font-size: 40px;
    text-align: center;
    
}

.fondo #saluto2{
    font-size: 40px;
    float: right;
}
    


/* crea un tasto fluo
button {
    --glow-color: rgb(217, 176, 255);
    --glow-spread-color: rgba(191, 123, 255, 0.781);
    --enhanced-glow-color: rgb(231, 206, 255);
    --btn-color: rgb(100, 61, 136);
    border: .25em solid var(--glow-color);
    padding: 1em 3em;
    color: var(--glow-color);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 1em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
}

button::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: .7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
}

button:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 2em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
}

button:active {
    box-shadow: 0 0 0.6em .25em var(--glow-color),
        0 0 2.5em 2em var(--glow-spread-color),
        inset 0 0 .5em .25em var(--glow-color);
} */



